<template name="home">
	<div>
		<div id="myCarousel" class="carousel slide fadeInLeft">
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		    <li data-target="#myCarousel" data-slide-to="4"></li>
		    <li data-target="#myCarousel" data-slide-to="5"></li>
		    <li data-target="#myCarousel" data-slide-to="6"></li>
		    <li data-target="#myCarousel" data-slide-to="7"></li>
		    <li data-target="#myCarousel" data-slide-to="8"></li>	    
		    <li data-target="#myCarousel" data-slide-to="9"></li>
		  </ol>

		  <!-- Carousel items -->
		  <div class="carousel-inner">	
		    <div class="active item slide1">
					<div class="slide-image" style="background: url('/images/furniture-bg-1.jpg'); background-size:cover;"></div>
		    		<!-- <img class="Centered" src="/images/furniture-bg-1.jpg"> -->

		    	<div class="carousel-caption">
		    		<h2 class="carousel-caption-text animated fadeInDown">LUCCA</h2>
		    		<a href="http://ihomec.com/2fp1commune/flash/TourViewer_commune.html"><img class="whiteEyeButton" src="/images/white360eye-icon_03.png"></a>
		    	</div>
		    </div>
		    <div class="item slide2">
					<div class="slide-image"></div>
						<!-- <img class="Centered" src="/images/furniture-bg-2.jpg"> -->

					<div class="carousel-caption">
						<h2 class="carousel-caption-text animated fadeInDown">Slide2</h2>
						<img class="whiteEyeButton" src="/images/white360eye-icon_03.png">
					</div>
		    </div>
		    <div class="item">…</div>
		  </div>
			<!-- <div class="container safe-box"> -->

		  <!-- Carousel nav -->
	<!-- 		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
			  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div> -->
		</div>

	</div>
		
</template>