<template name="styleModal">
  {{#if showModal}}
	      <div class="modal-backdrop fade in"></div>
      <div class="modal show">
          <div class="modal-dialog container">
          	<!-- Modal starts here-->
            <div class="big-modal modal-content animated fadeInLeft">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	<div class="row style-filter-buttons">
  					     <ul class="style-filter-button-ul">
									<li class="style-filter-button-unit col-sm-4" value="American Classics">American Classics</li>
									<li class="style-filter-button-unit col-sm-4" value="Chinese Traditional">Chinese Traditional</li>
									<li class="style-filter-button-unit col-sm-4" value="Decor">Decor</li>
									<li class="style-filter-button-unit col-sm-4" value="European Classics">European Classics</li>
									<li class="style-filter-button-unit col-sm-4" value="Innocent">Innocent</li>
									<li class="style-filter-button-unit col-sm-4" value="Korean">Korean</li>
									<li class="style-filter-button-unit col-sm-4" value="Mediterranean">Mediterranean</li>
									<li class="style-filter-button-unit col-sm-4" value="Modern American">Modern American</li>
									<li class="style-filter-button-unit col-sm-4" value="Modern Chinese">Modern Chinese</li>
									<li class="style-filter-button-unit col-sm-4" value="Modern European">Modern European</li>
									<li class="style-filter-button-unit col-sm-4" value="Office">Office</li>
									<li class="style-filter-button-unit col-sm-4" value="Outdoor">Outdoor</li>
                </ul>
           		</div>
        		<!-- store listing starts here -->
						<div class="">
        		  <div class="row index-letter">
        		  	{{currentStyle}}					
        		  </div>
        		  {{#each filteredBrands}}
								<div class="col-sm-3 list-brand-unit">
									<div class="list-brand-unit-inner">
										<div class="row listing-image">
			        		    <img src="http://placehold.it/200x100">
		  							</div>
		  							<div class="row listing-logo">
		  	      		    <img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
		  	      		  </div>
										<h3 class="row brand-name">{{englishName}}</h3>
									</div>
								</div>
        		  {{/each}}
        		</div>
			
          </div>
      	</div>
      </div>
  {{/if}}
</template>






























