<template name="styleModal">
  {{#if showModal}}
	      <div class="modal-backdrop fade in"></div>
      <div class="modal show">
          <div class="modal-dialog container">
          	<!-- Modal starts here-->
            <div class="big-modal modal-body animated fadeInLeft">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	<div class="row style-filter-buttons">
  					     <ul class="style-filter-button-ul">
									<li class="style-filter-button-unit col-sm-4" value="American Classics">American Classics</li>
									<li class="style-filter-button-unit col-sm-4" value="Chinese Traditional">Chinese Traditional</li>
									<li class="style-filter-button-unit col-sm-4" value="Decor">Decor</li>
									<li class="style-filter-button-unit col-sm-4" value="European Classics">European Classics</li>
									<li class="style-filter-button-unit col-sm-4" value="Innocent">Innocent</li>
									<li class="style-filter-button-unit col-sm-4" value="Korean">Korean</li>
									<li class="style-filter-button-unit col-sm-4" value="Mediterranean">Mediterranean</li>
									<li class="style-filter-button-unit col-sm-4" value="Modern American">Modern American</li>
									<li class="style-filter-button-unit col-sm-4" value="Modern Chinese">Modern Chinese</li>
									<li class="style-filter-button-unit col-sm-4" value="Modern European">Modern European</li>
									<li class="style-filter-button-unit col-sm-4" value="Office">Office</li>
									<li class="style-filter-button-unit col-sm-4" value="Outdoor">Outdoor</li>
									<li class="style-filter-button-unit col-sm-4" value="All">All</li>
                </ul>
           		</div>
        		<!-- store listing starts here -->
						<div class="">
							{{#if showAll}}
      					{{#each filteredBrandsAll}}
									<div class="col-sm-3 list-brand-unit">
										<div class="list-brand-unit-inner">
											
		  	      		  		{{#if is360}}
		  	      		  		<div class="row listing-logo">
		  	      		    		<a href="http://ihomec.com/2fp1commune/flash/TourViewer_commune.html"><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
													<img class="logo-overlay-icon" src="/images/360eye-icon.png"></a>
												</div>
		  	      		  		{{/if}}
		  	      		  		{{#if isLookBook}}
		  	      		  		<div class="row listing-logo">
		  	      		    		<a href="http://ihomec.com/lookbook/johnrichard/"><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
								   		    <img class="logo-overlay-icon" src="/images/lookbook-icon.png"></a>
								   		  </div>
												{{/if}}
												{{#if isSite}}
												<div class="row listing-logo">
		  	      		    		<a href=""><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
			  	      		    	<img class="logo-overlay-icon" src="/images/site-icon.png"></a>
												</div>
												{{/if}}	
												{{#if isInfo}}
												<div class="row listing-logo">
		  	      		    		<a href=""><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
			  	      		    	<img class="logo-overlay-icon" src="/images/info-icon.png"></a>
			 									</div>
												{{/if}}
											<h3 class="row brand-name">{{englishName}}</h3>
										</div>
									</div>
      					{{/each}}
      				{{else}}
							<div class="row index-style">
	        		  {{currentStyle}}					
        		  </div>
	        		  {{#each filteredBrands360}}
									<div class="col-sm-3 list-brand-unit">
										<div class="list-brand-unit-inner">
		  								<div class="row listing-logo">
	  	      		    		<a href="http://ihomec.com/2fp1commune/flash/TourViewer_commune.html"><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
												<img class="logo-overlay-icon" src="/images/360eye-icon.png"></a>
											</div>
											<h3 class="row brand-name">{{englishName}}</h3>
										</div>
									</div>
	        		  {{/each}}
	         		  {{#each filteredBrandsLookBook}}
									<div class="col-sm-3 list-brand-unit">
										<div class="list-brand-unit-inner">
	  	      		  		<div class="row listing-logo">
	  	      		    		<a href="http://ihomec.com/lookbook/johnrichard/"><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
							   		    <img class="logo-overlay-icon" src="/images/lookbook-icon.png"></a>
							   		  </div>
											<h3 class="row brand-name">{{englishName}}</h3>
										</div>
									</div>
	        		  {{/each}}
	         		  {{#each filteredBrandsSite}}
									<div class="col-sm-3 list-brand-unit">
										<div class="list-brand-unit-inner">
		  								<div class="row listing-logo">
	  	      		    		<a href=""><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
		  	      		    	<img class="logo-overlay-icon" src="/images/site-icon.png"></a>
											</div>
											<h3 class="row brand-name">{{englishName}}</h3>
										</div>
									</div>
	        		  {{/each}}
	        		  {{#each filteredBrandsInfo}}
									<div class="col-sm-3 list-brand-unit">
										<div class="list-brand-unit-inner">
		  								<div class="row listing-logo">
	  	      		    		<a href=""><img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
		  	      		    	<img class="logo-overlay-icon" src="/images/info-icon.png"></a>
											</div>
											<h3 class="row brand-name">{{englishName}}</h3>
										</div>
									</div>
	        		  {{/each}}
	        		 {{/if}}


        		</div>
			
          </div>
      	</div>
      </div>
  {{/if}}
</template>






























