/*Modal General Style*/
.big-modal {
	top:-17px;
	min-height:600px;
	background-color:rgba(240, 241, 243, 0.96);
	padding:20px;
	border-radius:10px;
}

.big-modal ul {
	padding-left:20px;
	padding-right:20px;
	margin-bottom:40px;
}

.modal-dialog {
	/*opacity:0.96;*/
}

.modal {
	top:52px;
	overflow-y:scroll;
	margin-bottom:59px;
}

.modal-body {
	overflow-y:scroll;
}

/*Style Modal Style*/
.style-filter-button-ul {
	width:750px;
	margin-left:auto;
	margin-right:auto;

}

.style-filter-button-unit {
	list-style-type:none;
	/*display:inline;*/
  font-size:16px;
  color:#969696;
	font-weight:300;
}

.style-filter-button-unit:hover {
	color:#bdb2a5;
	cursor: hand; 
	cursor: pointer
}

.style-filter-buttons {
	margin-bottom:20px;

}




/*Alphabetical Modal Style*/
.alph-filter-button-unit {
	list-style-type:none;
	display:inline;
  font-size:20px;
  color:#5b5b5b;
	font-weight:300;
}

.alph-filter-button-unit:hover {
	color:#bdb2a5;
	cursor: hand; 
	cursor: pointer
}

.index-letter {
	margin-left:15px;
  font-size:30px;
  color:#5b5b5b;
}


.number-filter {
	margin-right:5px;
}

.list-brand-unit {
	margin-bottom:40px;
}

.list-brand-unit-inner {
	overflow:auto;
}

.brand-name {
	font-size:30px;
	color:#5b5b5b;
	text-align:center;
}

.brand-name:hover {
	color:#bdb2a5;
	cursor: pointer; cursor: hand;
}
