/*Modal General Style*/

.logo-overlay-icon {
	position:relative;
	width:30%;
	top:-84px;
	right:-139px;
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

.all-button {
	margin-left:5px;
}

.big-modal {
	top:-17px;
	min-height:600px;
	background-color:rgba(240, 241, 243, 0.96);
	padding:20px;
	border-radius:10px;
}

.big-modal ul {
	padding-left:20px;
	padding-right:20px;
	margin-bottom:40px;
}

li.filter-active {
	color:#bdb2a5!important;
  font-weight:400!important;
}

.listing-logo {
	height:100px;
	width:200px;
  margin-left:-3px;
}


.listing-logo a:hover {
	filter: alpha(opacity=80);
  opacity: .7;
}

.modal-dialog {
	/*opacity:0.96;*/
}

.modal {
	top:52px;
	overflow-y:scroll;
	margin-bottom:59px;
}

.modal-body {
	overflow-y:scroll;
}

/*Style Modal Style*/
.style-filter-button-ul {
	width:750px;
	margin-left:auto;
	margin-right:auto;

}

.style-filter-button-unit {
	list-style-type:none;
	/*display:inline;*/
  font-size:16px;
  color:#969696;
	font-weight:300;
}

.style-filter-button-unit:hover {
	color:#bdb2a5;
	cursor: hand; 
	cursor: pointer
}

.style-filter-buttons {
	margin-bottom:20px;

}

.index-style {
	margin-left:15px;
 	margin-bottom:5px;
  font-size:30px;
  color:#5b5b5b;
}




/*Alphabetical Modal Style*/
.alph-filter-button-unit {
	list-style-type:none;
	display:inline;
  font-size:20px;
  color:#5b5b5b;
	font-weight:300;
}

.alph-filter-button-unit:hover {
	color:#bdb2a5;
	cursor: hand; 
	cursor: pointer
}

.index-letter {
	margin-left:15px;
  font-size:30px;
  color:#5b5b5b;
}


.number-filter {
	margin-right:5px;
}

.list-brand-unit {
	margin-bottom:30px;
}

.list-brand-unit-inner {
	overflow:visible;
}

.brand-name {
	font-size:30px;
	color:#5b5b5b;
	text-align:center;
  margin-top:15px;
}

.brand-name:hover {
	color:#bdb2a5;
	cursor: pointer; cursor: hand;
}
