body {
	font-family: 'Oxygen', sans-serif!important;
	background:white;
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.Centered
{
    display: inline-block;
    vertical-align: middle;
}