.carousel-caption {
    /*position:relative;*/
    top:20%;
}


.carousel-caption-text {
	font-size:80px;
	color:white;
/*	position:fixed;
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:28%;*/
  text-shadow: 0 0 0.2em rgb(89, 88, 86), 0 0 0.2em rgb(89, 88, 86)
}

.carousel-caption-text:hover {
	color:rgba(255,255,255,0.4);
	cursor: hand; cursor: pointer;

}

.carousel-control {
position: absolute;
top: 40%;
left: 15px;
width: 40px;
height: 40px;
margin-top: -20px;
font-size: 60px;
font-weight: 100;
line-height: 30px;
color: #ffffff;
text-align: center;
background: #222222;
border: 3px solid #ffffff;
-webkit-border-radius: 23px;
-moz-border-radius: 23px;
border-radius: 23px;
opacity: 0.5;
filter: alpha(opacity=50);
}

.carousel-inner {
	margin-left:auto;
	margin-right:auto;
	position:relative;
  /*min-width: 1920px;*/

}

.carousel {
	height:auto;
	width:auto;
	background:white;
	position:absolute;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

.carousel-indicators {
	position:fixed;
	left:0;
	right:0;
	bottom:13%;
	margin-left:auto;
	margin-right:auto;
}

.carousel-indicators li {
	background-color: rgba(255,255,255,0.3);
	height:20px;
	width:20px;
	border:0;
	border-radius:9px;
	margin-left:10px;
	box-shadow: 0 0 16px rgb(89, 88, 86), 0 0 0.2em rgb(89, 88, 86);
}

.carousel-indicators li:hover {
	background-color:#fff;
}

.carousel-indicators .active {
	background-color: #fff;
	height:20px;
	width:20px;
	border:0;
	border-radius:9px;
	margin-left:10px;
}

.carousel-inner > .item {
	height:100vh;
	 
}

.whiteEyeButton {
 	cursor: hand; cursor: pointer;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20%;
	margin-left: auto;
	margin-right: auto;
	width: 150px;

}

.whiteEyeButton:hover {
	opacity:0.4;
}

.slide-image {
  width:auto;
	height:100%;
	background-repeat: no-repeat;
  background-position: center; 
}

/*.slide1 .slide-image{
	background: url("/images/furniture-bg-1.jpg") no-repeat center fixed;
	background-size:cover;
}

.slide2 .slide-image{
	background: url("/images/furniture-bg-2.jpg") no-repeat center fixed;
	background-size:cover;
}
*/
/*@media screen and (max-width:960px) {
	.carousel-inner .slide-image {
		width:auto;
		background-position: center center;
  	background-repeat: no-repeat;
		
	}
}
*/
