<template name="alphabeticalModal">
  {{#if showModal}}
	      <div class="modal-backdrop fade in"></div>
      <div class="modal show">
          <div class="modal-dialog container">
          	<!-- Modal starts here-->
            <div class="big-modal modal-body animated fadeInLeft">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	<div class="row alph-filter-buttons">
                <ul>
									<li class="alph-filter-button-unit number-filter" value="">0-9</li>
									<li class="alph-filter-button-unit" value="A">A</li>
									<li class="alph-filter-button-unit" value="B">B</li>
									<li class="alph-filter-button-unit" value="C">C</li>
									<li class="alph-filter-button-unit" value="D">D</li>
									<li class="alph-filter-button-unit" value="E">E</li>
									<li class="alph-filter-button-unit" value="F">F</li>
									<li class="alph-filter-button-unit" value="G">G</li>
									<li class="alph-filter-button-unit" value="H">H</li>
									<li class="alph-filter-button-unit" value="I">I</li>
									<li class="alph-filter-button-unit" value="J">J</li>
									<li class="alph-filter-button-unit" value="K">K</li>
									<li class="alph-filter-button-unit" value="L">L</li>
									<li class="alph-filter-button-unit" value="M">M</li>
									<li class="alph-filter-button-unit" value="N">N</li>
									<li class="alph-filter-button-unit" value="O">O</li>
									<li class="alph-filter-button-unit" value="P">P</li>
									<li class="alph-filter-button-unit" value="Q">Q</li>
									<li class="alph-filter-button-unit" value="R">R</li>
									<li class="alph-filter-button-unit" value="S">S</li>
									<li class="alph-filter-button-unit" value="T">T</li>
									<li class="alph-filter-button-unit" value="U">U</li>
									<li class="alph-filter-button-unit" value="V">V</li>
									<li class="alph-filter-button-unit" value="W">W</li>
									<li class="alph-filter-button-unit" value="X">X</li>
									<li class="alph-filter-button-unit" value="Y">Y</li>
									<li class="alph-filter-button-unit" value="Z">Z</li>
                </ul>
           		</div>
        		<!-- store listing starts here -->
        		<div class="">
        			{{#if showAll}}
        				{{#each filteredBrandsAll}}
									<div class="col-sm-3 list-brand-unit">
											<div class="list-brand-unit-inner">
												<div class="row listing-image">
					        		    <img src="http://placehold.it/200x100">
				  							</div>
				  							<div class="row listing-logo">
				  	      		    <img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
				  	      		  </div>
												<h3 class="row brand-name">{{englishName}}</h3>
											</div>
										</div>
        				{{/each}}
        				{{else}}
	        		  <div class="row index-letter">
	        		  	{{currentLetter}}					
	        		  </div>
		        		  {{#each filteredBrands360}}
										<div class="col-sm-3 list-brand-unit">
											<div class="list-brand-unit-inner">
												<div class="row listing-image">
					        		    <img src="http://placehold.it/200x100">
				  							</div>
				  							<div class="row listing-logo">
				  	      		    <img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
				  	      		  </div>
												<h3 class="row brand-name">{{englishName}}</h3>
											</div>
										</div>
		        		  {{/each}}
		         		  {{#each filteredBrandsLookBook}}
										<div class="col-sm-3 list-brand-unit">
											<div class="list-brand-unit-inner">
												<div class="row listing-image">
					        		    <img src="http://placehold.it/200x100">
				  							</div>
				  							<div class="row listing-logo">
				  	      		    <img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
				  	      		  </div>
												<h3 class="row brand-name">{{englishName}}</h3>
											</div>
										</div>
		        		  {{/each}}
		         		  {{#each filteredBrandsSite}}
										<div class="col-sm-3 list-brand-unit">
											<div class="list-brand-unit-inner">
												<div class="row listing-image">
					        		    <img src="http://placehold.it/200x100">
				  							</div>
				  							<div class="row listing-logo">
				  	      		    <img src="http://placehold.it/200x100/ffffff/000000&text=LOGO">
				  	      		  </div>
												<h3 class="row brand-name">{{englishName}}</h3>
											</div>
										</div>
		        		  {{/each}}
		        		{{/if}}
        		</div>
			
          </div>
      	</div>
      </div>
  {{/if}}
</template>





























