<template name="companySite">
	<div class="template1-banner-container">
		<div class="container">
			<h1 class="template1-banner-heading">{{this.englishName}}</h1>
		</div>
	</div>

	<div class="container template1-container"><br><br>
		<div class="col-sm-8">
			<div class="template1-main-box">
				<div class="template1-main-image">
					<img src="/images/template1/designer1.jpg">
				</div>
				<h2 class="template1-story-heading">
					Brand Story:
				</h2>
				<h3 class="template1-story-content">
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
				</h3>
			</div>

		</div>
		<div class="col-sm-4">
			<div class="template1-buttons">
				<img src="/images/template1/viewer-lookbook-dummy.jpg">
			</div>
			<div class="template1-contact-info-box">
				<h4>Contact Us:</h4>
				<ul>
					<li><span class="col-sm-4">Name:</span><span>{{this.englishName}}</span></li> 
					<li><span class="col-sm-4"></span><span>鸿涂画业</span></li> 
					<li><span class="col-sm-4">Company:</span><span>深圳市鸿涂画业有限公司</span></li>
					<li><span class="col-sm-4">Email:</span><span>814945586@qq.com</span></li>
					<li><span class="col-sm-4">Phone:</span><span>86-769-81638009</span></li>
					<li><span class="col-sm-4">Address:</span><span>answer</span></li>
				</ul>
			</div>
		</div>
	</div>
</template>