<template name="infoModal">
	{{#if showModal}}
		<div class="modal-backdrop fade in"></div>
<!--       <div class="modal show"> -->
          <div class="modal-dialog container">
          	<!-- Modal starts here-->
            <div class="info-modal modal-body animated fadeInLeft">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	<div class="info-popup-banner"><img src="/images/logos/{{context.protoPicture}}"></div>	
            	<h1 class="align-center">{{context.englishName}}</h1>		
            	<ul class="info-modal-list">

								<li><span class="col-sm-3">Company:</span><span>{{context.englishCompanyName}}</span></li> 
								<li><span class="col-sm-3">Main Products:</span><span>{{context.englishMainProduct}}</span></li>
								<li><span class="col-sm-3">Email:</span><span>{{context.email}}</span></li>
								<li><span class="col-sm-3">Phone:</span><span>{{context.phone}}</span></li>
								<li><span class="col-sm-3">Fax:</span><span>{{context.fax}}</span></li>
								<li><span class="col-sm-3">Booth No:</span><span>{{context.boothNo}}</span></li>

            	</ul>
              <a><div class="col-sm-3 info-modal-contact-us">Contact Us</div></a>
            {{#if contactOpen}}
              <div>
              
                <h1> LALALAL</h1> 
              
              </div>
            {{/if}}
          </div>

      	<!-- </div> -->
      </div>


	{{/if}}
</template>