<template name="infoModal">
	{{#if showModal}}
		<div class="modal-backdrop fade in"></div>
<!--       <div class="modal show"> -->
          <div class="modal-dialog container">
          	<!-- Modal starts here-->
            <div class="info-modal modal-body animated fadeInLeft">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	<div class="info-popup-banner"><img src="/images/logos/{{context.protoPicture}}"></div>	
            	<h1 class="align-center">{{context.englishName}}</h1>		
            	<ul class="info-modal-list">

								<li><span class="col-sm-3">Company:</span><span>{{context.englishCompanyName}}</span></li> 
								<li><span class="col-sm-3">Main Products:</span><span>{{context.englishMainProduct}}</span></li>
								<li><span class="col-sm-3">Email:</span><span>{{context.email}}</span></li>
								<li><span class="col-sm-3">Phone:</span><span>{{context.phone}}</span></li>
								<li><span class="col-sm-3">Fax:</span><span>{{context.fax}}</span></li>
								<li><span class="col-sm-3">Booth No:</span><span>{{context.boothNo}}</span></li>

            	</ul>
              <a><div class="col-sm-3 info-modal-contact-us">Contact Us</div></a>
            {{#if contactOpen}}
              <div>
              
                <form class="form-horizontal">
                  <fieldset>

                  <!-- Form Name -->
                  <legend>Contact {{context.englishName}}</legend>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="lastName">*Last Name</label>  
                    <div class="col-md-4">
                    <input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md" required="">
                      
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="firstName">*First Name</label>  
                    <div class="col-md-4">
                    <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="">
                      
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="companyName">*Company Name</label>  
                    <div class="col-md-4">
                    <input id="companyName" name="companyName" type="text" placeholder="" class="form-control input-md" required="">
                      
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="companyWebsite">Company Website</label>  
                    <div class="col-md-4">
                    <input id="companyWebsite" name="companyWebsite" type="text" placeholder="" class="form-control input-md">
                      
                    </div>
                  </div>

                  <!-- Textarea -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="enquiry">*Enquiry</label>
                    <div class="col-md-4">                     
                      <textarea class="form-control" id="enquiry" name="enquiry"></textarea>
                    </div>
                  </div>

                  <!-- Select Basic -->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
                    <div class="col-md-4">
                      <select id="selectbasic" name="selectbasic" class="form-control">
                        <option value="1">Option one</option>
                        <option value="2">Option two</option>
                      </select>
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="Phone">*Phone Number</label>  
                    <div class="col-md-4">
                    <input id="Phone" name="Phone" type="text" placeholder="" class="form-control input-md" required="">
                      
                    </div>
                  </div>

                  <!-- Text input-->
                  <div class="form-group">
                    <label class="col-md-4 control-label" for="email">*Email</label>  
                    <div class="col-md-4">
                    <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="">
                      
                    </div>
                  </div>

                  </fieldset>
                  </form>

              
              </div>
            {{/if}}
<!-- 
<select class="styled" id="country-profiles-dropdown" name="country">
<option value="">Select a Country or Other Area</option>
<option value="">Afghanistan</option>
<option value="htm">Albania</option>
<option value="htm">Algeria</option>
<option value="htm">Andorra</option>
<option value="htm">Angola</option>
<option value="htm">Antigua and Barbuda</option>
<option value="htm">Argentina</option>
<option value="htm">Armenia</option>
<option value="htm">Aruba</option>
<option value="htm">Australia</option>
<option value="htm">Austria</option>
<option value="htm">Azerbaijan</option>
<option value="htm">Bahamas, The</option>
<option value="htm">Bahrain</option>
<option value="htm">Bangladesh</option>
<option value="htm">Barbados</option>
<option value="htm">Belarus</option>
<option value="htm">Belgium</option>
<option value="htm">Belize</option>
<option value="htm">Benin</option>
<option value="htm">Bermuda</option>
<option value="htm">Bhutan</option>
<option value="htm">Bolivia</option>
<option value="htm">Bosnia and Herzegovina</option>
<option value="htm">Botswana</option>
<option value="htm">Brazil</option>
<option value="htm">Brunei</option>
<option value="htm">Bulgaria</option>
<option value="htm">Burkina Faso</option>
<option value="htm">Burma</option>
<option value="htm">Burundi</option>
<option value="htm">Cabo Verde</option>
<option value="htm">Cambodia</option>
<option value="htm">Cameroon</option>
<option value="htm">Canada</option>
<option value="htm">Cayman Islands</option>
<option value="htm">Central African Republic</option>
<option value="htm">Chad</option>
<option value="htm">Chile</option>
<option value="htm">China</option>
<option value="htm">Colombia</option>
<option value="htm">Comoros</option>
<option value="htm">Congo, Democratic Republic of the</option>
<option value="htm">Congo, Republic of the</option>
<option value="htm">Costa Rica</option>
<option value="htm">Cote d'Ivoire</option>
<option value="htm">Croatia</option>
<option value="htm">Cuba</option>
<option value="htm">Curacao</option>
<option value="htm">Cyprus</option>
<option value="htm">Czech Republic</option>
<option value="htm">Denmark</option>
<option value="htm">Djibouti</option>
<option value="htm">Dominica</option>
<option value="htm">Dominican Republic</option>
<option value="htm">Ecuador</option>
<option value="htm">Egypt</option>
<option value="htm">El Salvador</option>
<option value="htm">Equatorial Guinea</option>
<option value="htm">Eritrea</option>
<option value="htm">Estonia</option>
<option value="htm">Ethiopia</option>
<option value="htm">Fiji</option>
<option value="htm">Finland</option>
<option value="htm">France</option>
<option value="htm">Gabon</option>
<option value="htm">Gambia, The</option>
<option value="htm">Georgia</option>
<option value="htm">Germany</option>
<option value="htm">Ghana</option>
<option value="htm">Greece</option>
<option value="htm">Grenada</option>
<option value="htm">Guatemala</option>
<option value="htm ">Guinea</option>
<option value="htm ">Guinea-Bissau</option>
<option value="htm">Guyana</option>
<option value="htm">Haiti</option>
<option value="htm">Holy See</option>
<option value="htm">Honduras</option>
<option value="htm">Hong Kong</option>
<option value="htm">Hungary</option>
<option value="htm">Iceland</option>
<option value="htm">India</option>
<option value="htm">Indonesia</option>
<option value="htm">Iran</option>
<option value="htm">Iraq</option>
<option value="htm">Ireland</option>
<option value="htm">Israel</option>
<option value="htm">Italy</option>
<option value="htm">Jamaica</option>
<option value="htm">Japan</option>
<option value="htm">Jordan</option>
<option value="htm">Kazakhstan</option>
<option value="htm">Kenya</option>
<option value="htm">Kiribati</option>
<option value="htm">Kosovo</option>
<option value="htm">Kuwait</option>
<option value="htm">Kyrgyzstan</option>
<option value="htm">Laos</option>
<option value="htm">Latvia</option>
<option value="htm">Lebanon</option>
<option value="htm">Lesotho</option>
<option value="htm">Liberia</option>
<option value="htm">Libya</option>
<option value="htm">Liechtenstein</option>
<option value="htm">Lithuania</option>
<option value="htm">Luxembourg</option>
<option value="htm">Macau</option>
<option value="htm">Macedonia</option>
<option value="htm">Madagascar</option>
<option value="htm">Malawi</option>
<option value="htm">Malaysia</option>
<option value="htm">Maldives</option>
<option value="htm">Mali</option>
<option value="htm">Malta</option>
<option value="htm">Marshall Islands</option>
<option value="htm">Mauritania</option>
<option value="htm">Mauritius</option>
<option value="htm">Mexico</option>
<option value="htm">Micronesia</option>
<option value="htm">Moldova</option>
<option value="htm">Monaco</option>
<option value="htm">Mongolia</option>
<option value="htm">Montenegro</option>
<option value="htm">Morocco</option>
<option value="htm">Mozambique</option>
<option value="htm">Namibia</option>
<option value="htm">Nauru</option>
<option value="htm">Nepal</option>
<option value="htm">Netherlands</option>
<option value="htm">Netherlands Antilles</option>
<option value="htm">New Zealand</option>
<option value="htm">Nicaragua</option>
<option value="htm">Niger</option>
<option value="htm">Nigeria</option>
<option value="htm">North Korea</option>
<option value="htm">Norway</option>
<option value="htm">Oman</option>
<option value="htm">Pakistan</option>
<option value="htm">Palau</option>
<option value="">Palestinian Territories</option>
<option value="htm">Panama</option>
<option value="htm">Papua New Guinea</option>
<option value="htm">Paraguay</option>
<option value="htm">Peru</option>
<option value="htm">Philippines</option>
<option value="htm">Poland</option>
<option value="htm">Portugal</option>
<option value="htm">Qatar</option>
<option value="htm">Romania</option>
<option value="htm">Russia</option>
<option value="htm">Rwanda</option>
<option value="htm">Saint Kitts and Nevis</option>
<option value="htm">Saint Lucia</option>
<option value="htm">Saint Vincent and the Grenadines</option>
<option value="htm">Samoa</option>
<option value="htm">San Marino</option>
<option value="htm">Sao Tome and Principe</option>
<option value="htm">Saudi Arabia</option>
<option value="htm">Senegal</option>
<option value="htm">Serbia</option>
<option value="htm">Seychelles</option>
<option value="htm">Sierra Leone</option>
<option value="htm">Singapore</option>
<option value="htm">Sint Maarten</option>
<option value="htm">Slovakia</option>
<option value="htm">Slovenia</option>
<option value="htm">Solomon Islands</option>
<option value="htm">Somalia</option>
<option value="htm">South Africa</option>
<option value="htm">South Korea</option>
<option value="htm">South Sudan</option>
<option value="htm">Spain</option>
<option value="htm">Sri Lanka</option>
<option value="htm">Sudan</option>
<option value="htm">Suriname</option>
<option value="htm">Swaziland</option>
<option value="htm">Sweden</option>
<option value="htm">Switzerland</option>
<option value="htm">Syria</option>
<option value="htm">Taiwan</option>
<option value="htm">Tajikistan</option>
<option value="htm">Tanzania</option>
<option value="htm">Thailand</option>
<option value="htm">Timor-Leste</option>
<option value="htm">Togo</option>
<option value="htm">Tonga</option>
<option value="htm">Trinidad and Tobago</option>
<option value="htm">Tunisia</option>
<option value="htm">Turkey</option>
<option value="htm">Turkmenistan</option>
<option value="htm">Tuvalu</option>
<option value="htm">Uganda</option>
<option value="htm">Ukraine</option>
<option value="htm">United Arab Emirates</option>
<option value="htm">United Kingdom</option>
<option value="htm">Uruguay</option>
<option value="htm">Uzbekistan</option>
<option value="htm">Vanuatu</option>
<option value="htm">Venezuela</option>
<option value="htm">Vietnam</option>
<option value="htm">Yemen</option>
<option value="htm">Zambia</option>
<option value="htm">Zimbabwe</option>
</select>
 -->










          </div>

      	<!-- </div> -->
      </div>


	{{/if}}
</template>