<template name="infoModal">
	{{#if showModal}}
		<div class="modal-backdrop fade in"></div>
<!--       <div class="modal show"> -->
          <div class="modal-dialog container">
          	<!-- Modal starts here-->
            <div class="info-modal modal-body animated fadeInLeft">
            	<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            	<h1 class="align-center">{{context.englishName}}</h1>			
            	<ul class="info-modal-list">
								<li><span class="col-sm-4">Name:</span><span>{{this.englishName}}</span></li> 
								<li><span class="col-sm-4"></span><span>鸿涂画业</span></li> 
								<li><span class="col-sm-4">Company:</span><span>深圳市鸿涂画业有限公司</span></li>
								<li><span class="col-sm-4">Email:</span><span>814945586@qq.com</span></li>
								<li><span class="col-sm-4">Phone:</span><span>86-769-81638009</span></li>
								<li><span class="col-sm-4">Address:</span><span>answer</span></li>

            	</ul>
          </div>
      	<!-- </div> -->
      </div>

	{{/if}}
</template>